/!MADSONIC_CLEANUP/
/.DS_Store
/.classpath
/.project
/.repository/
/.settings
/.settings/
/bin/
/build.cmd
/madsonic-android-codes/
/madsonic-jwplayer/
/madsonic-kodi-api/
/madsonic-synology/
/madsonic-tools/
/paypal.html
/redeploy.cmd
/target/
/madsonic-repo/
/madsonic-openmediavault/
/madsonic-openmediavault-old/
/madsonic-openmediavault-ss/
/madsonic-transcoder-helper/
/madsonic-transcode-build/
/madsonic-openmediavault/
