/.DS_Store
/.classpath
/.project
/.repository/
/.settings
/.settings/
/bin/
/build.cmd
/paypal.html
/redeploy.cmd
/target/
/itservice-site/
/madsonic-core/
/madsonic-core-booter/
/madsonic-fileUpload/
/madsonic-jaudiotagger/
/madsonic-jaudiotagger-src/
/madsonic-jwplayer/
/madsonic-kodi-api/
/madsonic-paypal/
/madsonic-tools/
/madsonic-node/
/madsonic-openmediavault/
/madsonic-synology/
/madsonic-watchdog/
/madsonic-flowplayer/
